.lang {
	text-align: right;
	font-size: 0.7em;
	font-weight: bold;
	color: silver;
	margin: 0.5em 0 -1.4em 0;
	padding: 0.2em;
}
.lang + pre {margin-top: 0}

.previewBox {
	background-color: #fcfcff; 
	border-radius: 0.5em; 
	box-shadow: 0 0 0.5em #ccc inset; 
	padding: 1em;
}